* {
  box-sizing: border-box;
}

body {
  background-color: darkslategrey;
  color: #e2e2e2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0 auto;
}

.container {
  margin: 20px 0;
}

.matrix {
  margin-bottom: 30px;
  width: 100%;
}

.row {
  display: flex;
  background: rgb(255, 255, 255, 0);
  transition: background 0.2s ease-in-out;
}

.row:hover {
  background: rgb(255, 255, 255, 0.3);
}

.column {
  background-color: turquoise;
  height: 15px;
  width: 15px;
  margin: 3px;
}
