@import url(https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);

* {
  box-sizing: border-box;
}

html {
  font-family: "SpoqaHanSans";
  font-size: 16px;
  line-height: 1.5;
}

body {
  background-color: #1f2d3d;
  color: #e2e2e2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0 auto;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.container h1 {
  align-self: center;
}

.container .toggle-button {
  align-self: flex-end;
}

.item-container img {
  border-radius: 15%;
  width: 128px;
  height: 128px;
  -webkit-filter: grayscale(100%);
  filter: gray;
}

th.basic-item img {
  /* opacity: 0.7; */
}

table {
  overflow: hidden;
}

tr:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.item-container:hover img {
  -webkit-filter: grayscale(0%);
  filter: none;
}

/* .item-container img {
  -webkit-filter: grayscale(100%);
  filter: gray;
} */

.item-container img.active {
  -webkit-filter: grayscale(0%);
  filter: none;
}

td,
th {
  position: relative;
  padding: 3px;
}
.item-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

td:hover::after,
th:hover::after {
  content: "";
  position: absolute;
  background-color: rgba(255, 255, 255, 0.3);
  right: 0;
  left: 0;
  top: -5000px;
  height: 10000px;
  width: 100%;
  z-index: -1;
}

.item-container {
  position: relative;
}

.item-description {
  display: none;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6);
  width: 128px;
  height: 128px;
  padding: 10px;
  border-radius: 15%;
  z-index: 100;
}

.item-description h1 {
  color: #ffc107;
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
}

.item-description span {
  font-size: 0.9rem;
  font-weight: 300;
}

.item-description.active {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.toggle-button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.toggle-button img {
  width: 80px;
}

.toggle-button .toggle-off {
  display: flex;
}
.toggle-button.on .toggle-off {
  display: none;
}

.toggle-button.on .toggle-on {
  display: flex;
}
.toggle-button .toggle-on {
  display: none;
}

.toggle-button span {
  margin-right: 10px;
}
