.about-infos {
  max-width: 1200px;
  width: 90%;
  margin-top: 80px;
  padding-top: 35px;

  /* Styles for Adding other about-info */
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.about-infos .about-info {
  width: 100%;
}

.about-infos .about-info {
  background-color: #ffffff;
  color: #adaeb9;
  box-shadow: 0 1px 11px 0 rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 50px;
  text-align: center;
}

.about-info h1 {
  color: #555555;
  font-size: 1.5rem;
}

.about-info .developers__list {
  list-style-type: none;
  padding: 0;
}

/* Style for Adding other developers in list */
.about-info .developers__list {
  display: flex;
  justify-content: space-around;
}

.about-info .developers__list li {
  margin: 0;
  padding: 0;
  border: 0;
  float: left;
}
/* END */

.about-info img {
  border-radius: 50%;
  width: 125px;
}

.about-info p {
  margin: 0;
}

.about-info .developers__list .developer__name {
  margin: 10px 0px;
  color: #555555;
  font-size: 1.2rem;
}
/* 
.about__container {
  font-family: "SpoqaHanSans";
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 1080px;
  padding: 50px;
  margin-top: 80px;
}

.about {
  width: 80%;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;

  background-color: white;
  color: #adaeb9;
  box-shadow: 0 1px 11px 0 rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 50px;
}

.about .developers__list {
  list-style-type: none;
  padding: 0;
}

.about h1 {
  color: #555555;
  font-size: 2rem;
}

.about .developers__list img {
  border-radius: 50%;
  width: 80%;
}

.about .developers__list .developer__name {
  margin: 10px 0px;
  color: #555555;
  font-size: 1.5rem;
}

.about .developers__list p {
  margin: 0;
} */
