@import url(https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);

.about__container {
  font-family: "SpoqaHanSans";
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 1080px;
  height: 100%;
  padding: 50px;
  padding-top: 70px;
  margin-left: 50px;
}

@media screen and (max-width: 1090px) {
  .about__container {
    margin-left: 0;
  }
}

.about {
  width: 80%;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;

  background-color: white;
  color: #adaeb9;
  box-shadow: 0 1px 11px 0 rgba(0, 0, 0, 0.1);
  padding: 20px;
  font-weight: 400;
  margin-bottom: 50px;
}

.about .developers__list {
  list-style-type: none;
  padding: 0;
}

.about h1 {
  color: #555555;
  font-size: 2rem;
  font-weight: 700;
}

.about .developers__list img {
  border-radius: 50%;
  width: 80%;
}

.about .developers__list .developer__name {
  margin: 10px 0px;
  color: #555555;
  font-size: 1.5rem;
}

.about .developers__list p {
  margin: 0;
}
