@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:400,600&display=swap");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Spoqa Han Sans" -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #eff3f7;
  height: 100%;
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

.loader {
  z-index: 200;
  margin: 0 auto;
  margin-top: calc(100vh / 2);
}

.movies {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-top: 70px;
  margin-top: 80px;
  max-width: 1200px;
  width: 90%;
}

@media (max-width: 1024px) {
  .movies {
    /* grid-template-columns: 1fr; */
    width: 90%;
  }
}

.circular-loader {
  z-index: 200;
  position: absolute;
  bottom: calc(100vh / 100);
  /* bottom: 0; */
}
