/* select box styling */
.sorting-dropdown {
  margin-top: 80px;
  padding-top: 35px;
  align-self: flex-end;
}

select {
  width: 100px;
  appearance: none;
  padding: 1rem 1rem;
  border: none;
  font-family: inherit;
  background-color: #eff3f7;
  background: url("../key_down.svg") no-repeat 95%;
  background-size: 18px;
  font-size: 1rem;
  color: #adaeb9;
}

select:focus {
  outline: none;
}
