.movies .movie {
  width: 45%;
  background-color: white;
  margin-bottom: 70px;
  padding: 20px;
  border-radius: 2.5px;
  color: #adaeb9;
  transition: box-shadow 0.25s ease-in;
  box-shadow: 0 1px 11px 0 rgba(0, 0, 0, 0.1);
}

.movies .movie:hover {
  box-shadow: 0 1px 11px 0 rgba(0, 0, 0, 0.3);
}

/* Responsive layout */
@media (max-width: 1024px) {
  .movies .movie {
    flex: 100%;
    max-width: 100%;
  }
}

.movies .movie a {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  text-decoration: none;
  color: inherit;
}

.movie img {
  position: relative;
  top: -50px;
  max-width: 150px;
  width: 100%;
  margin-right: 30px;
  box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25), 0 18px 36px -18px rgba(0, 0, 0, 1),
    0 -12px 36px -8px rgba(0, 0, 0, 0.025);
}

@media (max-width: 500px) {
  .movies .movie a {
    display: block;
  }

  .movies .movie img {
    display: flex;
    margin: 0 auto;
  }
}
.movie .movie__data {
  overflow: auto;
}

.movie .movie__title,
.movie .movie__year {
  margin: 0;
}

.movie .movie__title {
  margin-bottom: 5px;
  color: #4e4e62;
}

.movie .movie__genres {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  margin: 5px 0px;
  color: #d6d9e1;
}

.movie__genres li,
.movie .movie__year {
  margin-right: 10px;
}

.movie .movie__summary {
  color: #d1d1da;
  font-size: 1.1rem;
}
