* {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #1f2d3d;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  background-color: #f8f9fa;
}

body::after {
  content: "diana©";
  display: block;
  margin-top: 50px;
  color: #1f2d3d;
  font-size: 12px;
  font-weight: 600;
}

ol,
li {
  list-style-type: none;
}

.sr-only {
  visibility: hidden;
}

.music-player {
  width: 100%;
  max-width: 540px;
  padding: 20px;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.05);
}

.music-play-item {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  align-content: center;
}

.music-album-cover {
  width: 50px;
  height: 50px;
  border-radius: 3px;
  margin-right: 16px;
}

.music-info {
  display: flex;
  flex-grow: 1; /* flex item에 설정 */
  justify-content: space-between;
  align-content: center;
  align-items: center;
  padding: 8px 0;
  border-top: 1px solid #e5e5e5;
  cursor: pointer;
}

.music-info * {
  transition: opacity 120ms;
}

.music-info:hover * {
  opacity: 0.6;
}

.music-play-item:last-child .music-info {
  border-bottom: 1px solid #e5e5e5;
}

.music-info-detail * {
  font-weight: 400;
}

.music-info-detail h1 {
  font-size: 16px;
  line-height: 1.2;
  color: #383838;
}

.music-info-detail strong {
  display: block;
  font-size: 14px;
  color: #8e8e93;
}

.music-playtime {
  font-size: 14px;
  color: #909095;
}
